@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'MiaMatulic.ttf';
    src: url('font/MiaMatulic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: white;

}

.naslovi h1 {
    font-family: 'MiaMatulic.ttf';
    font-size: 600%;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.naslovi h2 {
    font-family: 'Playfair Display';
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.naslovi h3 {
    font-family: 'Playfair Display';
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.naslovi h4 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
}

body {
  
    background-image: url('slike/mjesec.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display';
    font-size: normal;
    color: white;
}

img {
    width: 30%;
    height: 30%;
}

.videozapis {

    display: flex;
    align-items: center;
    }


.text {
    text-align: center;
}